[Unit]
Description=Test ELB Provisioning
After=network.target
Before=nextcloud-web.service

[Service]
ExecStart=/tmp/installnginx.sh
Type=notify
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target