---
- name: Update apt cache if needed
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  when: ansible_distribution == "Ubuntu"

- name: Install Nginx
  ansible.builtin.include_tasks: nginx.yml

- name: Install Network Tools
  ansible.builtin.include_tasks: net-tools.yml
