---
- name: Install Network tools (Amazon)
  ansible.builtin.dnf:
    name: net-tools.x86_64
    state: present
    update_cache: true
  when: ansible_distribution == "Amazon"

- name: Install network tools (Ubuntu)
  ansible.builtin.apt:
    name: net-tools
    state: present
  when: ansible_distribution == "Ubuntu"
