---
- name: Update all packages (Amazon)
  ansible.builtin.dnf:
    update_cache: true
  when: ansible_distribution == "Amazon"

- name: Install nginx (Amazon)
  ansible.builtin.dnf:
    name: nginx
    state: present
  when: ansible_distribution == "Amazon"
  notify:
    - Enable Nginx service at startup

- name: Install nginx (Ubuntu)
  ansible.builtin.apt:
    name: nginx
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Get nginx service status
  ansible.builtin.service_facts:
  register: nginx_services_state

- name: Check nginx service status
  ansible.builtin.debug:
    var: nginx_services_state.ansible_facts.services['nginx.service']
