name: Deploy Infra
on:
  workflow_dispatch:

# Define environment variables used throughout the workflow
env:
  TF_WORKING_DIR: ./terraform  
  PKR_WORKING_DIR: ./packer/centos    
  ANSIBLE_WORKING_DIR: ./ansible 
  AWS_REGION: us-east-1          

jobs:
  
  ###################################################################################
  # JOB 1: TERRAFORM APPLY (Runs MANUALLY)
  ###################################################################################
  terraform_apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' &&  github.ref == 'refs/heads/main'
    defaults:
      run:
        working-directory: ${{ env.TF_WORKING_DIR }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.13.x

    - name: Terraform Init
      id: init_tf
      run: terraform init
    
    - name: Terraform Apply
      id: apply_tf
      run: terraform apply -auto-approve
    
    - name: Upload state
      uses: actions/upload-artifact@v4
      with:
        name: tfstate
        path: terraform.tfstate

    