name: Packer Build
on:
  push:
    branches:
      - main
      - 'feat/**'
      - 'feature/**'
    paths:
      - ./packer/**
    tags:
      - '*'

# Define environment variables used throughout the workflow
env:
  TF_WORKING_DIR: ./terraform  
  PKR_WORKING_DIR: ./packer/centos    
  AWS_REGION: us-east-1          

jobs:
      
  ###################################################################################
  # JOB 1: PACKER INIT
  ###################################################################################
  packer_init:
    name: Packer Build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3

    - name: Packer Init
      id: init_packer
      run: find . -type f -name "*.pkr.hcl" -print0 | xargs -0 -I {} packer init "{}"
      working-directory: ${{ env.PKR_WORKING_DIR }}
      
  ###################################################################################
  # JOB 2: PACKER BUILD
  ###################################################################################
  packer_build:
    name: Packer Build
    runs-on: ubuntu-latest
    needs: packer_init
    if: github.event_name == 'push'

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Packer
      uses: hashicorp/setup-packer@v3
      
    - name: Packer build
      id: build_packer
      run: find ${{ env.PKR_WORKING_DIR }} -type f -name "*.pkr.hcl" -print0 | xargs -0 -I {} packer build "{}"
      