# This workflow orchestrates the Continuous Integration and Continuous Delivery (CI/CD)
# for Terraform and Packer using GitHub Actions and Semantic Release.
name: Terraform & Automation CI/CD
on:
  push:
    branches:
      - main
    tags:
      - '*'

# Define environment variables used throughout the workflow
env:
  TF_WORKING_DIR: ./terraform  # Path to Terraform configuration files
  PKR_WORKING_DIR: ./packer/centos    # Path to Packer template files
  ANSIBLE_WORKING_DIR: ./ansible # Path to Ansible playbooks/roles
  AWS_REGION: us-east-1          # Default AWS region

jobs:
  
  ###################################################################################
  # JOB 1: SEMANTIC RELEASE & (Runs on Main Branch Push)
  ###################################################################################
  release_deploy_main:
    name: Release
    runs-on: ubuntu-latest
    # Only run on push to main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: lint_validate_docs

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        # Fetch history for Semantic Release to analyze commits
        fetch-depth: 0 

    - name: Semantic Release
      id: semantic_release
      uses: cycjimmy/semantic-release-action@v4
      env:
        # This token MUST have the 'repo' scope (or 'contents:write' and 'releases:write' for fine-grained PAT)
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  